@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Italiana', serif;
    max-width: 1055px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.nav__info {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_link {
    display: flex;
    align-items: center;
    color: #585b62;
    gap: 0.5rem;
}



nav li {
    display: flex;
    flex-direction: column-reverse;
}

header {
    min-height: 100vh;
    width: 100%;
}

.split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
}

.split__info {
    display: flex;
    flex-direction: column;
}

.split__info p {
    color: #443b3b;
}

.split__info__link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.split__info__link__item {
    padding: 20px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #506b3b ;
    border-radius: 0.5rem;
}

.split__info__link__item:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: inherit;
    color: #585b62
}



.split__photo {
    height: 400px;
}

.split__info > p {
    font-size: 35px;
    width: 600px;
    text-align: justify;
}

main {
    min-height: 50vh;
    width: 100%;
}

.projects > h1 {
    font-weight: normal;
}

.projects__filter {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.projects__filter > button {
    margin-top: 3rem;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 600;
    color: rgb(141, 141, 141);
}

.projects__filter > button:hover {
    cursor: pointer;
    text-decoration: underline;
}                                                                  

footer {
    padding: 0 0 2em;
    margin-top: 10rem;
}
